.dropbtn {
    background-color: #070707;
    color: white;
    padding-left: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    margin-top: 22px;
    margin-left: -60px;
    position: absolute;
    background-color: #121212fa;
    min-width: 270px;
    /* overflow-y: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(250, 246, 246);
    background-color: #141414;
    padding: 1px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  .dropdown-content h3 {
    color: rgb(250, 246, 246);
    background-color: #141414;
    padding: 1px 16px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown a:hover {
      background-color: rgb(248, 248, 248);
      color: #48A7A3;
    }
  
  .show {display: block;}

  /*  */
  ul{
      margin: 0px !important;
      padding:0px !important
  }
  .showContent {
    display: none ;
  }
  .content-list a{
      padding: 0px 5px;
      font-size: 13px;
      font-weight: 500;
      color: #f1f1f1;
      line-height: 23px;
  }

.hoverLi:hover .showContent{
    display: block;
    position:absolute;
    z-index: 30;
    top: 1px;
    left: 270px;
    width: 150px;
    height: 260px;
    overflow-y: auto;

}
.hoverLi:hover .showContent a{
  background-color: black;
}
