
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}  
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .menu_st {
 
    color: white;
    font-size: 14px;
    padding-top: 4px;
    cursor: pointer;

}

  .MuiPaper-root{
      position: relative;
      top:70px !important;
      left: 150px !important;

  }

  .MuiButtonBase-root:hover{
    color:#48A7A3;
    background: white;
  }


